<div>
    <mat-icon class="cookie">cookie</mat-icon>
    <h1>This website also uses cookies!</h1>
    <p>We use cookies to provide you with content and
        social features, to analyse our website traffic
         and for advertising purposes to ensure a comfortable
          browsing experience. On the  website you can view our
           Privacy Notice and a detailed description of how we use
            cookies. You can change your cookie settings at any time
             by clicking on the Cookie Management Settings in the
              footer.</p>
    <button type="button" class="btn" mat-stroked-button>ACCEPT ALL</button>
    <button type="button" class="btn1" mat-stroked-button>DECLINE ALL</button>
    <button type="button" class="btn2" mat-stroked-button [routerLink]="['main']">SETTINGS</button>
</div>
